.idea/
*.iml
*.csv
.DS_Store
target/
*.swp
*.swo
*.log
logs/
/target
.project
.vagrant
.classpath
.settings
jimubox_settings.properties
nccic_license.txt
jimubox-*/*.iml
jimubox-*/*.csv
jimubox-*/.DS_Store
jimubox-*/target/*
jimubox-*/*.swp
jimubox-*/target
jimubox-*/.project
jimubox-*/.classpath
jimubox-*/.settings
jimubox-*/*.log
jimubox-console/dependency-reduced-pom.xml
jimubox-in/run.sh
*.key
nccic_license.txt
jimubox_environments.properties
jimubox-in/src/main/webapp/Files
nciic.cer
*.gradle
gradle
gradlew*
