.index_about { float: left; width: 740px; overflow: hidden; margin: 10px -40px }
.c_titile { font-size: 22px; margin: 20px 0; text-align: center;color: #333; }
.box_c { border: #ccc 1px dashed; text-align: center; padding: 5px 0; margin-right: 30px;color: #999;}
.box_c span { margin: 0 10px; }
.box_c span a{color: #099;}
.index_about ul.infos { overflow: hidden; margin: 20px 30px 20px 0; line-height: 28px; font-size: 14px;color:#666 }
.index_about ul.infos p { margin-bottom: 5px }
.index_about ul.infos p img { display: block; margin: auto ;max-width: 700px;}
.index_about ul.infos h3 span {font-weight: bold;}
.article_tag_div { font-size:14px;line-height: 30px; height: 30px; padding-left: 5px; border-top: 1px solid #F0F0F0;border-bottom: 1px solid #F0F0F0; margin-right: 20px; }
.article_tag_div a { color: #9FB6CD ;margin: 0px 10px 0px 0px;}
.article_category_div { font-size:14px;line-height: 30px; height: 30px; padding-left: 5px; border-bottom: 1px solid #F0F0F0; margin-right: 20px; }
.article_category_div a { color: #9FB6CD ;margin: 0px 10px 0px 0px;}
.nextinfo { font-size:14px;line-height: 30px; height: 30px; padding-left: 5px; border-bottom: 1px solid #F0F0F0; margin-right: 20px; }
.nextinfo a { color: #9FB6CD ;margin: 0px 10px 0px 0px;}
.otherlink h2 { border-bottom: #099 2px solid; line-height: 40px; font-size: 12px; font-weight: normal; margin-right: 20px; padding-left:40px}
.otherlink ul { margin: 10px 0 }
.otherlink li { line-height: 24px; height: 24px; display: block; width: 290px; float: left; overflow: hidden; margin-right: 30px; }
.otherlink li a:hover{ text-decoration:underline}

/*段落*/
.postBody p,.postCon p { margin:7px 0;  line-height:24px;  }
.index_about h1 {  margin:0;  }
.index_about h3 {  color: #fff;  background-color: #708090;  -moz-border-radius: 5px;  border-radius: 5px;  padding:6px;  margin:10px 0px;  text-shadow:2px 2px 3px #404040;  }
/*超链接*/
.index_about a {  color:#708090;  text-decoration:none;  }
.index_about a:hover {  text-decoration:underline;  }
.index_about a:visited,a:hover {  color:#708090;  }
.index_about ul {  list-style:none;  margin:0;  padding:0;  }
.index_about image {  border:none;  }


/*评论标题*/
.feedback_area_title {  padding:10px;  font-size:18px;  font-weight:bold;  color:#EE9A00;  border-bottom:solid 2px #EE9A00;  }
/*评论条目*/
.feedbackItem { word-wrap:break-word; font-size:14px;  line-height:24px;  margin:10px 0;  padding:20px;  box-shadow:0 0 5px #aaa;  }
.feedbackListSubtitle {  font-weight:normal; font-size:12px;  color:#EE9A00;   }
.feedbackListSubtitle a {  color:#EE9A00;  }
.feedbackCon a {color:#EE9A00; }
.comment_quote {margin:0px 40px;background: #FAEBD7 none repeat scroll 0 0;border: 1px solid #ccc;padding: 15px;}
.comment_vote {text-align: right;}
.comment_vote a { padding-left: 10px; text-decoration: none !important;}
#comment_container {margin:10px;}
#comment_container a {color:#EE9A00; margin:0px 20px;}
#comment_title {  color:#EE9A00;  background-image:none;  background-repeat:no-repeat;  margin-bottom:10px;  padding:10px 20px 10px 10px;  font-size:15px;  font-weight:bold;  border-bottom:solid 2px #EE9A00;  }
/*评论按钮*/
#btn_comment_submit {  border:none;  height:30px;  width:90px;  }
/*评论按钮*/
#reply_div {margin:10px 0px; font-size:13px;}
.comment_btn { margin:10px 0px; font-family:'Microsoft Yahei';  border:none;  height:25px; line-height:25px; width:90px;  font-size:13px;  cursor:pointer;  position:relative;  vertical-align:middle;  display:inline-block;  background:#EE9A00;  color:#fff;  }
#btn_comment_submit:hover {  background:#CDC5BF;  }


