@charset "UTF-8";

* {
	margin: 0;
	padding: 0
}

body {
	font-size: 15px;
	padding: 0;
	margin: 0;
	font-family: "微软雅黑", "宋体", Arial;
	min-width: 1200px;
}

img {
	border: 0;
	display: block
}

ul {
	list-style: none;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}

a {
	outline: none;
}

a:link, a:visited {
	text-decoration: none;
	color: #4078c0;
	font-size: 13px;
}

a:hover {
	text-decoration: none;
}

.clear {
	clear: both;
}

.float_left {
	float: left
}

.float_right {
	float: right
}

.left_box {
	width: 670px;
}

.right_box {
	width: 300px;
}
/* 头部 */
header {
	width: 1000px;
	margin: 20px auto;
	overflow: hidden;
	clear: both;
}

#header_nav {
	width: 70%;
	height: 46px;
	line-height: 46px;
	text-align: center;
}

#header_nav .header_nav_a {
	display: inline-block;
	font-size: 17px;
	font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif;
	padding: 0 20px;
}

#header_nav .header_nav_a:hover {
	background: yellowgreen;
	color: #FFFFFF;
	border-radius: 15px;
}

#header_nav .current {
	background: yellowgreen;
	color: #FFFFFF;
	border-radius: 15px;
}
/* 主模块 */
article {
	width: 1000px;
	margin: 20px auto;
}
/*footer*/
footer {
	background: #333;
	width: 100%;
	clear: both;
	text-align: center;
}

.ft-copyright {
	color: #fff;
	line-height: 24px;
}

.ft-list {
	background: url(../img/ft-wx-s.png) no-repeat right;
	height: 100px
}
/*底部*/
* html {
	background-image: url(about:blank);
	background-attachment: fixed;
} /*兼容IE6*/
#bottom_float_box {
	width: 54px;
	float: right;
	position: fixed;
	right: 50px;
	bottom: 15px;
	_position: absolute;
	_bottom: auto;
	_top: expression(eval(document.documentElement.scrollTop +
		document.documentElement.clientHeight-this.offsetHeight- ( parseInt(this.currentStyle.marginTop
		, 10)||0)-(parseInt(this.currentStyle.marginBottom, 10)||0)));
	_margin-bottom: 15px;
} /*兼容IE6*/
#go_to_book, #go_to_top {
	width: 54px;
	height: 56px;
	display: block;
	background: url(../../img/common/footer_icons.png) no-repeat #111;
	box-shadow: 0px 1px 0px rgba(255, 255, 255, .1), inset 0px 1px 1px
		rgba(0, 0, 0, .7);
	border-radius: 6px;
}

#go_to_book {
	margin: 5px 0;
	background-position: 10px -36px;
}

#go_to_top {
	background-position: 12px 10px;
}

#go_to_book:hover, #go_to_top:hover {
	opacity: 0.5
}
/*标签模块*/
.tag_div {
	width: 100%;
	clear: both;
	overflow: hidden
}

.tag_div h3 {
	line-height: 40px;
	color: #38485A;
	font-size: 18px;
	border-bottom: 1px solid #E6E6E6;
	height: 40px;
}

.tag_div ul {
	margin: 20px 0
}

.tag_div ul li {
	line-height: 20px;
	height: 20px;
	display: block;
	background: #999;
	float: left;
	padding: 3px 8px;
	margin: 10px 10px 0 0;
	border-radius: 8px;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.tag_div ul li a {
	color: #FFF;
	font-size: 12px;
}

.tag_div ul li:nth-child(8n-7) {
	background: #8A9B0F
}

.tag_div ul li:nth-child(8n-6) {
	background: #EB6841
}

.tag_div ul li:nth-child(8n-5) {
	background: #3FB8AF
}

.tag_div ul li:nth-child(8n-4) {
	background: #FE4365
}

.tag_div ul li:nth-child(8n-3) {
	background: #FC9D9A
}

.tag_div ul li:nth-child(8n-2) {
	background: #EDC951
}

.tag_div ul li:nth-child(8n-1) {
	background: #C8C8A9
}

.tag_div ul li:nth-child(8n) {
	background: #83AF9B
}

.tag_div ul li:first-child {
	background: #036564
}

.tag_div ul li:last-child {
	background: #3299BB
}

.tag_div ul li:hover {
	border-radius: 0;
	text-shadow: #000 1px 1px 1px
}
/* 排行榜 */
.charts_tab {
	width: 100%;
	margin: 30px 0 20px 0;
	overflow: hidden
}

.charts_top {
	height: 32px;
	border-bottom: solid 1px #EAEAEA;
	font-size: 14px
}

#tab li a {
	float: left;
	height: 32px;
	cursor: pointer;
	line-height: 32px;
	list-style-type: none;
	padding: 0 15px;
}

#tab li.cur a {
	color: #fff;
	background: #f77825;
}

.display_none {
	display: none
}

.charts_list ul {
	padding: 10px 0 0 10px;
	background: url(../../img/common/charts_number.png) no-repeat 10px 29px;
}

.charts_list ul li {
	border-bottom: solid 1px #EAEAEA;
	line-height: 30px;
	height: 30px;
	overflow: hidden;
	font-size: 14px;
	padding: 10px 0 0 30px;
}

.charts_list ul li a {
	display: block;
}

.charts_list ul li a:hover {
	color: #000;
}

.charts_list ul li:hover {
	border-bottom: #000 1px solid;
}

/* 表单table */
.form_table {
	width: 480px;
	margin: 20px 20px;
	padding: 5px;
	border: 1px solid #d5d5d5;
}

.form_table td.form_info {
	height: 25px;
	line-height: 25px;
	font-size: 14px;
	width: 90px;
	text-align: right;
	padding: 0px 15px 0px 0px;
}

.form_table td.form_input {
	line-height: 25px;
	font-size: 13px;
	padding: 3px;
}

select {
	border: 1px solid #ccc;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075) inset;
	color: #333;
	font-size: 13px;
	outline: medium none;
	vertical-align: middle;
	line-height: 25px;
	height: 25px;
	margin: 5px 0px;
	padding: 3px 10px;
}

input[type=checkbox] {
	vertical-align: middle;
}

input.text_input {
	border: 1px solid #ccc;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075) inset;
	color: #333;
	font-size: 13px;
	outline: medium none;
	vertical-align: middle;
	line-height: 20px;
	height: 20px;
	margin: 5px 0px;
}

input.text_input:focus {
	border-color: #51a7e8 !important;
}

input.form_button {
	-moz-user-select: none;
	background-color: #eee;
	background-image: linear-gradient(#fcfcfc, #eee);
	border: 1px solid #d5d5d5;
	border-radius: 3px;
	color: #333;
	cursor: pointer;
	display: inline-block;
	font-size: 13px;
	font-weight: bold;
	line-height: 20px;
	padding: 2px 12px;
	position: relative;
	vertical-align: middle;
	white-space: nowrap;
	box-sizing: border-box;
	word-wrap: break-word;
	margin: 5px 0px;
}

input.form_button:hover, input.form_button:active, input.form_button.zeroclipboard-is-hover,
	input.form_button.zeroclipboard-is-active {
	background-color: #ddd;
	background-image: linear-gradient(#eee, #ddd);
	border-color: #ccc;
	text-decoration: none;
}

a.file_input_a {
	display: inline-block;
	width: 60px;
	height: 30px;
	overflow: hidden;
	-moz-user-select: none;
	background-color: #eee;
	background-image: linear-gradient(#fcfcfc, #eee);
	border: 1px solid #d5d5d5;
	border-radius: 3px;
	color: #333;
	cursor: pointer;
	display: inline-block;
	font-size: 13px;
	font-weight: bold;
	line-height: 30px;
	padding: 0px 10px;
	position: relative;
	vertical-align: middle;
	white-space: nowrap;
}

input.file_input {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 100px;
	opacity: 0;
	filter: alpha(opacity = 0);
}

.menu-heading:first-child {
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}

.menu-heading {
	background-color: #f7f7f7;
	border-bottom: 1px solid #eee;
	color: #555;
	display: block;
	font-size: 13px;
	font-weight: bold;
	line-height: 20px;
	margin-bottom: 0;
	margin-top: 0;
	padding: 8px 10px;
}

.menu-item {
	border-bottom: 1px solid #eee;
	display: block;
	padding: 8px 10px;
	position: relative;
	text-shadow: 0 1px 0 #fff;
	color: #4078c0;
	text-decoration: none;
	background-color: transparent;
}

.menu {
	background-color: #fff;
	border: 1px solid #d8d8d8;
	border-radius: 3px;
	list-style: outside none none;
	margin-bottom: 15px;
	width: 100px;
	float: left;
	margin: 20px 0px 0px 20px;
}

.syntaxhighlighter {
	padding:5px;
}