@charset "UTF-8";
/* 滑动图片 */
.banner { height : 280px; width : 670px; overflow : hidden; }
#slide-runner { height : 280px; width : 670px; overflow : hidden; position : absolute; }
#slide-holder img { position : absolute; }
#slide-controls { left : 0; bottom : 0px; width : 670px; height : 34px; display : none; position : absolute; background : url(../../img/common/slide-bottom_bg.png) 0 0; }
#slide-controls p.text { float : left; color : #fff; display : inline; line-height : 16px; margin : 10px 0 0 20px; }
#slide-controls p#slide-nav { float : right; height : 24px; display : inline; margin : 5px 0px 0 0; }
#slide-controls p#slide-nav a { float : left; width : 24px; height : 24px; display : inline; font-size : 11px; margin : 0 5px 0 0; line-height : 24px; text-align : center; color: #fff }
#slide-controls p#slide-nav a.on { background-position : 0 -24px; }
#slide-controls p#slide-nav a { background-image : url(../../img/common/silde-bottom_nav.png); }
/* */
.main-div { margin: 20px 0; }
.main-div h1 { font-size: 16px; font-weight: bold; line-height: 36px; color: #333; border-bottom: #db6d4c 4px solid; }
.blogs { padding: 30px 0; position: relative; border-bottom: #CCC 1px solid; overflow: hidden }
.blogs h3 { font-size: 16px; font-weight: bold; transition: all .5s; margin-bottom: 10px }
.blogs h3 a { color: #474645; }
.blogs h3 a:hover { color: #066; text-decoration: underline }
.blogs figure { float: left; width: 25%; overflow: hidden; }
.blogs figure img { width: 100%; margin: auto; -moz-transition: all 0.5s; -webkit-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s; }
.blogs figure:hover img { -moz-transform: scale(1.1); -webkit-transform: scale(1.1); -o-transform: scale(1.1); -ms-transform: scale(1.1); }
.blogs ul { float: right; line-height: 22px; width: 72%; color: #756F71;}
.autor { overflow: hidden; clear: both; margin: 10px 0; display: inline-block; color: #838383; width: 100%;  }
.autor span { margin: 0 10px 0 0; padding-left: 20px }
.autor span a { color: #759b08; }
.autor span a:hover { text-decoration: underline }
.username_bg_image { background: url(../../img/common/bg_author.png) no-repeat left center }
.time_bg_image { background: url(../../img/common/bg_time.png) no-repeat left center }
.access_times_bg_image { background: url(../../img/common/bg_look.png) no-repeat left center }
.comment_times_bg_image { background: url(../../img/common/bg_comment.png) no-repeat left center }
/* 排行榜 */
.charts_tab h3 { line-height: 40px; color: #38485A; font-size: 18px; border-bottom: 1px solid #E6E6E6; height: 40px; margin-bottom: 20px }

/* 右侧用户中心 */
.user_profile h3 { line-height: 40px; color: #38485A; font-size: 18px; border-bottom: 1px solid #E6E6E6; height: 40px }
.user_profile #login_table {margin: 10px 0px 0px 0px;line-height: 30px; color: #38485A; font-size: 15px;}
.user_profile #login_table tr {height: 35px;}
.user_profile #login_table tr td {padding: 3px;}
.user_profile #user_info_div {height: 40px; margin: 10px 0px 10px 0px;padding:5px;}
.user_profile #welcome_div {margin: 0px;height:30px;line-height:30px;}
.user_profile #logout_div {margin: 0px;}
.user_profile #avatar_img {margin: 0px 10px 0px 0px; height: 30px; width: 30px; }
.user_profile #nick_name_span {color:#8B8682;}
.user_profile input {width: 110px;}

/* 疑问搜索 */
.answer_search_div h3 { line-height: 40px; color: #38485A; font-size: 18px; border-bottom: 1px solid #E6E6E6; height: 40px }
#answer_search_input_div {margin: 10px 0px;padding: 10px;}
#search_text_input {margin: 0px 10px 0px 0px;height: 18px; width: 180px;}

/* 站内搜索 */
.site_search_div h3 { line-height: 40px; color: #38485A; font-size: 18px; border-bottom: 1px solid #E6E6E6; height: 40px }
#site_search_input_div {margin: 10px 0px;padding: 10px;}
#search_text_input {margin: 0px 10px 0px 0px;height: 18px; width: 180px;}

/* 右侧关注我 */
.follow_me h3 { line-height: 40px; color: #38485A; font-size: 18px; border-bottom: 1px solid #E6E6E6; height: 40px }
.follow_me_info {margin: 25px 0px 0px 0px;}
.follow_me_link ul { width: 100%; margin: 30px 0; overflow: hidden }
.follow_me_link li { width: 52px; margin: 0 18px 0 5px; float: left; }
.follow_me_link li a { color: #747F8C; width: 52px; text-align: center; padding-top: 60px; float: left; }
.follow_me_link .rss { background: url(../../img/common/right_info_ico_1_black.jpg) no-repeat scroll 0% 0% transparent; }
.follow_me_link .rss:hover { color: #000; background: url(../../img/common/right_info_ico_1.png) no-repeat scroll 0% 0% transparent; }
.follow_me_link .xlwb { background: url(../../img/common/right_info_ico_2_black.jpg) no-repeat scroll 0% 0% transparent; }
.follow_me_link .xlwb:hover { color: #000; background: url(../../img/common/right_info_ico_2.png) no-repeat scroll 0% 0% transparent; }
.follow_me_link .txwb { background: url(../../img/common/right_info_ico_3_black.jpg) no-repeat scroll 0% 0% transparent; }
.follow_me_link .txwb:hover { color: #000; background: url(../../img/common/right_info_ico_3.png) no-repeat scroll 0% 0% transparent; }
.follow_me_link .github { background: url(../../img/common/right_info_ico_4_black.jpg) no-repeat scroll 0% 0% transparent; }
.follow_me_link .github:hover { color: #000; background: url(../../img/common/right_info_ico_4.png) no-repeat scroll 0% 0% transparent; }
.follow_me_link .douyu { background: url(../../img/common/right_info_ico_5_black.jpg) no-repeat scroll 0% 0% transparent; }
.follow_me_link .douyu:hover { color: #000; background: url(../../img/common/right_info_ico_5.png) no-repeat scroll 0% 0% transparent; }
/* 右侧图文 */
.tuwen { width: 100%; clear: both; overflow: hidden; margin: 20px 0 }
.tuwen h3 { line-height: 40px; color: #38485A; font-size: 18px; border-bottom: 1px solid #E6E6E6; height: 40px; margin-bottom: 30px }
.tuwen li { overflow: hidden; clear: both; margin-bottom: 10px }
.tuwen li img { width: 70px; float: left; margin-right: 15px }
.tuwen li b { overflow: hidden; width: 100%; font-weight: normal; color: #333; font-size: 14px; line-height: 30px }
.tuwen li a b:hover { text-decoration: underline; color: #F60 }
.tuwen li span { color: #999; margin-right: 10px }
.tuwen p { margin-top: 5px }
.tulanmu { background: url(../../img/common/right_tuwen_bg_author.png) no-repeat center left; padding-left: 17px }
.tulanmu a { color: #999; }
.tulanmu a:hover { color: #066 }
.tutime { background: url(../../img/common/right_tuwen_bg_time.png) no-repeat left center; padding-left: 15px }
.tuwen li:hover { background: #f4f3f3 }
/* 300*/
.right_image { width: 300px; overflow: hidden; margin: 30px 0 }
.right_image img { width: 300px; }
/* 链接模块*/
.links { width: 100%; overflow: hidden; clear: both }
.links h3 { line-height: 40px; color: #38485A; font-size: 18px; border-bottom: 1px solid #E6E6E6; height: 40px; margin-bottom: 20px }
.links h3 span { float: right; font-size: 12px; }
.links h3 span a { color: #999; padding: 0 5px }
.links h3 span a:hover { color: #F60; text-decoration: underline }
.links ul { background: #f9f9f9; padding: 10px; overflow: hidden; border: #e9e9e9 1px solid }
.links ul li { float: left; padding: 5px 8px }
.links ul li a:hover { color: #000 }

.questions { padding: 30px 0; position: relative; border-bottom: #CCC 1px solid; overflow: hidden }
.questions h3 { font-size: 16px; font-weight: bold; transition: all .5s; margin-bottom: 10px }
.questions h3 a { color: #474645; }
.questions h3 a:hover { color: #066; text-decoration: underline }
.questions ul {line-height: 22px; width: 100%; color: #756F71;}
